@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap);
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #190d22;
}
body.scroll-stop {
  height: 100%;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}

strong,
span {
  display: block;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
}

img,
textarea,
input,
select {
  vertical-align: center;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 4rem;
}

h3 {
  font-weight: 400;
  font-size: 3.333rem;
}

p {
  font-size: 1rem;
}

header,
nav,
main,
section,
footer {
  display: block;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 14vh;
}
@media only screen and (min-width: 1024px) {
  header {
    position: fixed;
    height: 150px;
  }
}
header .logo-mainmenu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 14vh;
}
@media only screen and (min-width: 1024px) {
  header .logo-mainmenu-box {
    max-width: 1440px;
    height: 150px;
  }
}
header .logo-mainmenu-box .logo {
  margin: 0;
  width: 12vw;
}
@media only screen and (min-width: 1024px) {
  header .logo-mainmenu-box .logo {
    width: 80px;
  }
}
header .logo-mainmenu-box .main-menu {
  margin: 0;
}
header .logo-mainmenu-box .main-menu .gnb {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .logo-mainmenu-box .main-menu .gnb {
    display: flex;
    justify-content: space-between;
    width: 820px;
  }
}
@media only screen and (min-width: 1024px) {
  header .logo-mainmenu-box .main-menu .gnb li {
    margin: 0;
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 1.167rem;
  }
}
header .logo-mainmenu-box .main-menu .mobile-menu-bar {
  width: 8vw;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  header .logo-mainmenu-box .main-menu .mobile-menu-bar {
    display: none;
  }
}
header .logo-mainmenu-box .main-menu .mobile-menu-bar .bar {
  width: 100%;
  height: 1px;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: 30% 0;
}

main {
  width: 100%;
  overflow: hidden;
}
main .title {
  font-size: 2rem;
}
@media only screen and (min-width: 1024px) {
  main .title {
    padding-top: 170px;
    font-size: 3rem;
  }
}
main .home {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
main .home .home-container {
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  main .home .home-container {
    max-width: 100vw;
  }
}
main .home .home-container .sky-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 85vh;
  background: radial-gradient(circle at center bottom, #461b59, #190d22);
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .sky-box {
    height: 87vh;
  }
}
main .home .home-container .sky-box .moon {
  width: 50%;
  margin-top: 25vh;
  border-radius: 50%;
  box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .sky-box .moon {
    width: 260px;
    margin-top: 270px;
  }
}
main .home .home-container .sky-box .moon img {
  width: 100%;
  transform: scale(1.05);
}
main .home .home-container .sky-box .cloud1 {
  position: absolute;
  z-index: 1;
  left: -25vw;
  bottom: -10vh;
  width: 60%;
  animation: cloudMove 4s ease-in-out infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .sky-box .cloud1 {
    left: 0;
    bottom: -70px;
    width: 315px;
  }
}
main .home .home-container .sky-box .cloud2 {
  position: absolute;
  right: -15vw;
  bottom: 15vh;
  width: 40%;
  animation: cloudMove 4s ease-in-out infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .sky-box .cloud2 {
    right: 0;
    bottom: 210px;
    width: 285px;
  }
}
@keyframes cloudMove {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
main .home .home-container .ocean {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: #190d22;
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .ocean {
    height: 13vh;
  }
}
main .home .home-container .ocean .shadow {
  height: 1vh;
  border-radius: 10px;
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .ocean .shadow {
    height: 10px;
  }
}
@keyframes shadow1 {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes shadow2 {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
main .home .home-container .ocean .moon-shadow1 {
  width: 20vw;
  background-color: #5f5c62;
  animation: shadow1 4s ease-in-out infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .ocean .moon-shadow1 {
    width: 150px;
  }
}
main .home .home-container .ocean .moon-shadow2 {
  position: relative;
  left: 5vw;
  width: 25vw;
  background-color: #434046;
  animation: shadow2 4s ease-in-out 0.3s infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .ocean .moon-shadow2 {
    left: 43px;
    width: 200px;
  }
}
main .home .home-container .ocean .moon-shadow3 {
  position: relative;
  right: 5vw;
  width: 30vw;
  background-color: #2b272d;
  animation: shadow1 4s ease-in-out 0.6s infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .ocean .moon-shadow3 {
    right: 30px;
    width: 250px;
  }
}
main .home .home-container .ocean .moon-shadow4 {
  position: relative;
  left: 5vw;
  width: 35vw;
  background-color: #1c181e;
  animation: shadow2 4s ease-in-out 0.9s infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .home-container .ocean .moon-shadow4 {
    left: 25px;
    width: 300px;
  }
}
main .home .stars {
  position: absolute;
  left: 0;
  top: 0;
}
main .home .stars img {
  transform: scale(2.5);
}
@media only screen and (min-width: 1024px) {
  main .home .stars img {
    transform: scale(2);
  }
}
@keyframes starMove {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
main .home .stars .biggest-star {
  position: absolute;
  width: 1vw;
  border-radius: 50%;
  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.5);
  animation: starMove 2.5s ease-in-out infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .biggest-star {
    width: 0.6vw;
  }
}
main .home .stars .biggest-star:first-of-type {
  left: 3vw;
  top: 45vh;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .biggest-star:first-of-type {
    left: 95vw;
    top: 50vh;
  }
}
main .home .stars .biggest-star:nth-of-type(2) {
  left: 60vw;
  top: 17vh;
  animation-delay: 0.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .biggest-star:nth-of-type(2) {
    left: 51vw;
    top: 185px;
  }
}
main .home .stars .big-star {
  position: absolute;
  width: 0.8vw;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);
  animation: starMove 2.5s ease-in-out infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .big-star {
    width: 0.4vw;
  }
}
main .home .stars .big-star:nth-of-type(3) {
  left: 82vw;
  top: 50vh;
  animation-delay: 1s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .big-star:nth-of-type(3) {
    left: 69vw;
    top: 270px;
  }
}
main .home .stars .big-star:nth-of-type(4) {
  left: 20vw;
  top: 4vh;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .big-star:nth-of-type(4) {
    left: 10vw;
    top: 300px;
  }
}
main .home .stars .big-star:nth-of-type(5) {
  display: none;
  animation-delay: 0.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .big-star:nth-of-type(5) {
    display: block;
    left: 40vw;
    top: 30px;
  }
}
main .home .stars .big-star:nth-of-type(6) {
  display: none;
  animation-delay: 1s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .big-star:nth-of-type(6) {
    display: block;
    left: 23vw;
    top: 80px;
  }
}
main .home .stars .middle-star {
  position: absolute;
  width: 0.6vw;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
  animation: starMove 2.5s ease-in-out infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .middle-star {
    width: 0.3vw;
  }
}
main .home .stars .middle-star:nth-of-type(7) {
  left: 30vw;
  top: 70vh;
  animation-delay: 0.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .middle-star:nth-of-type(7) {
    left: 27vw;
    top: 500px;
  }
}
main .home .stars .middle-star:nth-of-type(8) {
  left: 70vw;
  top: 7vh;
  animation-delay: 1.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .middle-star:nth-of-type(8) {
    left: 86vw;
    top: 160px;
  }
}
main .home .stars .middle-star:nth-of-type(9) {
  left: 5vw;
  top: 20vh;
  animation-delay: 1.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .middle-star:nth-of-type(9) {
    left: 3vw;
    top: 50px;
  }
}
main .home .stars .middle-star:nth-of-type(10) {
  left: 90vw;
  top: 15vh;
  animation-delay: 0.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .middle-star:nth-of-type(10) {
    left: 30vw;
    top: 172px;
  }
}
main .home .stars .middle-star:nth-of-type(11) {
  display: none;
  animation-delay: 0.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .middle-star:nth-of-type(11) {
    display: block;
    left: 63vw;
    top: 128px;
  }
}
main .home .stars .middle-star:nth-of-type(12) {
  display: none;
  animation-delay: 0.1s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .middle-star:nth-of-type(12) {
    display: block;
    left: 95vw;
    top: 52px;
  }
}
main .home .stars .small-star {
  position: absolute;
  width: 0.4vw;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
  animation: starMove 2.5s ease-in-out infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .small-star {
    width: 0.2vw;
  }
}
main .home .stars .small-star:nth-of-type(13) {
  left: 88vw;
  top: 25vh;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .small-star:nth-of-type(13) {
    left: 59vw;
    top: 230px;
  }
}
main .home .stars .small-star:nth-of-type(14) {
  left: 95vw;
  top: 44vh;
  animation-delay: 1s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .small-star:nth-of-type(14) {
    left: 61vw;
    top: 370px;
  }
}
main .home .stars .small-star:nth-of-type(15) {
  left: 12vw;
  top: 27vh;
  animation-delay: 1s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .small-star:nth-of-type(15) {
    left: 68vw;
    top: 175px;
  }
}
main .home .stars .small-star:nth-of-type(16) {
  display: none;
  animation-delay: 1.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .small-star:nth-of-type(16) {
    display: block;
    left: 84vw;
    top: 400px;
  }
}
main .home .stars .small-star:nth-of-type(17) {
  display: none;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .small-star:nth-of-type(17) {
    display: block;
    left: 5vw;
    top: 220px;
  }
}
main .home .stars .small-star:nth-of-type(18) {
  display: none;
  animation-delay: 1s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .small-star:nth-of-type(18) {
    display: block;
    left: 90vw;
    top: 250px;
  }
}
main .home .stars .small-star:nth-of-type(19) {
  display: none;
  animation-delay: 0.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .small-star:nth-of-type(19) {
    display: block;
    left: 75vw;
    top: 330px;
  }
}
main .home .stars .small-star:nth-of-type(20) {
  display: none;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .small-star:nth-of-type(20) {
    display: block;
    left: 24vw;
    top: 350px;
  }
}
main .home .stars .smallest-star {
  position: absolute;
  width: 0.25vw;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
  animation: starMove 2.5s ease-in-out infinite;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star {
    width: 0.1vw;
  }
}
main .home .stars .smallest-star:nth-of-type(21) {
  left: 80vw;
  top: 4vh;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(21) {
    left: 82vw;
    top: 330px;
  }
}
main .home .stars .smallest-star:nth-of-type(22) {
  left: 13vw;
  top: 40vh;
  animation-delay: 0.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(22) {
    left: 38vw;
    top: 270px;
  }
}
main .home .stars .smallest-star:nth-of-type(23) {
  left: 37vw;
  top: 11vh;
  animation-delay: 1s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(23) {
    left: 15vw;
    top: 450px;
  }
}
main .home .stars .smallest-star:nth-of-type(24) {
  left: 30vw;
  top: 22vh;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(24) {
    left: 44vw;
    top: 150px;
  }
}
main .home .stars .smallest-star:nth-of-type(25) {
  left: 75vw;
  top: 30vh;
  animation-delay: 0.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(25) {
    left: 78vw;
    top: 200px;
  }
}
main .home .stars .smallest-star:nth-of-type(26) {
  left: 47vw;
  top: 4vh;
  animation-delay: 1.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(26) {
    left: 41vw;
    top: 250px;
  }
}
main .home .stars .smallest-star:nth-of-type(27) {
  left: 10vw;
  top: 55vh;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(27) {
    left: 30vw;
    top: 300px;
  }
}
main .home .stars .smallest-star:nth-of-type(28) {
  display: none;
  animation-delay: 0.5s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(28) {
    display: block;
    left: 5vw;
    top: 420px;
  }
}
main .home .stars .smallest-star:nth-of-type(29) {
  display: none;
  animation-delay: 1s;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(29) {
    display: block;
    left: 35vw;
    top: 430px;
  }
}
main .home .stars .smallest-star:nth-of-type(30) {
  display: none;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .smallest-star:nth-of-type(30) {
    display: block;
    left: 20vw;
    top: 200px;
  }
}
main .home .stars .shooting-star {
  position: relative;
  width: 25vw;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .shooting-star {
    width: 15vw;
  }
}
main .home .stars .shooting-star div {
  width: 100%;
  height: 2px;
}
main .home .stars .shooting-star div .tail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(-45deg, transparent 0%, #fff 100%);
     border-image: linear-gradient(-45deg, transparent 0%, #fff 100%);
  border-image-slice: 1;
}
main .home .stars .shooting-star div img {
  position: absolute;
  left: 0;
  width: 0.4vw;
}
@media only screen and (min-width: 1024px) {
  main .home .stars .shooting-star div img {
    width: 0.2vw;
  }
}
main .home .stars .shooting-star .shooting1 {
  position: absolute;
  left: 10vw;
  top: 15vh;
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  main .home .stars .shooting-star .shooting1 {
    left: 20vw;
    top: 160px;
  }
}
main .home .stars .shooting-star .shooting2 {
  position: absolute;
  left: 7vw;
  top: 57vh;
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  main .home .stars .shooting-star .shooting2 {
    left: 32vw;
    top: 530px;
  }
}
main .home .stars .shooting-star .shooting3 {
  position: absolute;
  left: 77vw;
  top: 35vh;
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  main .home .stars .shooting-star .shooting3 {
    left: 67vw;
    top: 300px;
  }
}
main .about-me {
  margin-top: 100vh;
}
@media only screen and (min-width: 1024px) {
  main .about-me {
    height: 100vh;
  }
}
main .about-me .title {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  main .about-me .title {
    padding-top: 170px;
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content {
    display: flex;
    align-items: center;
  }
}
main .about-me .aboutme-content .photo-content {
  position: relative;
  height: 75vw;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .photo-content {
    width: 800px;
    height: 640px;
  }
}
main .about-me .aboutme-content .photo-content .my-photo {
  position: relative;
  z-index: 2;
  width: 50vw;
  margin-top: 10vh;
  padding-top: 5vh;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .photo-content .my-photo {
    display: flex;
    align-items: left;
    width: 340px;
    margin-top: 50px;
    padding-top: 0;
  }
}
main .about-me .aboutme-content .photo-content .my-photo img {
  width: 100%;
}
main .about-me .aboutme-content .photo-content .big-circle {
  position: relative;
  left: -20vw;
  top: -63vw;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .photo-content .big-circle {
    position: absolute;
    left: 5px;
    top: 240px;
  }
}
main .about-me .aboutme-content .photo-content .big-circle .big-line {
  transform: rotate(15deg);
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .photo-content .big-circle .big-line {
    transform: scale(2.5) rotate(5deg);
  }
}
main .about-me .aboutme-content .photo-content .small-circle {
  position: relative;
  left: 23vw;
  top: -200vw;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .photo-content .small-circle {
    position: absolute;
    left: 230px;
    top: -40px;
  }
}
main .about-me .aboutme-content .photo-content .small-circle .small-line {
  transform: rotate(190deg);
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .photo-content .small-circle .small-line {
    transform: scale(2) rotate(180deg);
  }
}
main .about-me .aboutme-content .txt-content-box {
  margin-top: 7vh;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .txt-content-box {
    margin-top: 0;
    margin-left: 40px;
  }
}
main .about-me .aboutme-content .txt-content-box .main-txt {
  font-size: 1rem;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .txt-content-box .main-txt {
    font-size: 1.667rem;
  }
}
main .about-me .aboutme-content .txt-content-box .main-txt strong {
  display: inline-block;
  font-weight: 600;
  font-size: 1.5rem;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .txt-content-box .main-txt strong {
    font-size: 2.5rem;
  }
}
main .about-me .aboutme-content .txt-content-box .main-txt strong span {
  display: inline-block;
}
main .about-me .aboutme-content .txt-content-box .main-txt strong span.bracket {
  color: #efb1d5;
}
main .about-me .aboutme-content .txt-content-box .aboutme-tab-btn {
  margin: 3vh 0 2vh 1vh;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .txt-content-box .aboutme-tab-btn {
    margin-top: 40px;
  }
}
main .about-me .aboutme-content .txt-content-box .aboutme-tab-btn button {
  position: relative;
  margin-right: 5vw;
  border-style: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.833rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .txt-content-box .aboutme-tab-btn button {
    margin-right: 53px;
    font-size: 1rem;
  }
}
main .about-me .aboutme-content .txt-content-box .aboutme-tab-btn button::after {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 7px;
  content: "";
  transition: width 0.5s ease;
  background-color: #7b588c;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .txt-content-box .aboutme-tab-btn button::after {
    height: 10px;
    transform: translateY(-30%);
  }
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .txt-content-box .aboutme-tab-btn button:hover::after {
    height: 10px;
    width: 100%;
    transform: translateY(-30%) scaleX(1.3);
  }
}
main .about-me .aboutme-content .txt-content-box .aboutme-tab-btn button.selected::after {
  width: 100%;
  transform: scaleX(1.2);
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .txt-content-box .aboutme-tab-btn button.selected::after {
    transform: translateY(-30%) scaleX(1.3);
  }
}
main .about-me .aboutme-content .txt-content-box .aboutme-content-txt .txt {
  font-size: 0.833rem;
  line-height: 1.8;
}
@media only screen and (min-width: 1024px) {
  main .about-me .aboutme-content .txt-content-box .aboutme-content-txt .txt {
    font-size: 1.167rem;
  }
}
main .skill {
  position: relative;
  width: 100%;
  margin-top: 20vh;
  background-color: darkgoldenrod;
}
@media only screen and (min-width: 1024px) {
  main .skill {
    height: 100vh;
  }
}
@media only screen and (min-width: 1024px) {
  main .skill .title-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 256px;
    height: 256px;
    line-height: 256px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  main .skill .title-box .title {
    padding-top: 0;
    text-align: center;
  }
}
main .skill .skill-box .skill-tab-btn {
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
}
main .skill .skill-box .skill-tab-btn::-webkit-scrollbar {
  display: none; /* Webkit 기반 브라우저(Chrome, Safari 등)에서 스크롤바 숨김 */
}
main .skill .skill-box .skill-tab-btn button {
  padding: 5px 20px;
  margin: 5vw 1vw 10vw 0;
  border: 0;
  border-radius: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.833rem;
  color: #fff;
  background-color: #7b588c;
}
main .skill .skill-box .skill-tab-btn button.selected {
  font-weight: 500;
  color: #7b588c;
  background-color: #fff;
}
@media only screen and (min-width: 1024px) {
  main .skill .skill-box .skill-tab-btn {
    display: none;
  }
}
main .skill .skill-box .icon-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  row-gap: 7vw;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  main .skill .skill-box .icon-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 600px;
    height: 600px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
}
main .skill .skill-box .icon-box .icon {
  position: relative;
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
}
@media only screen and (min-width: 1024px) {
  main .skill .skill-box .icon-box .icon {
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
main .skill .skill-box .icon-box .icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  content: "";
  width: 25vw;
  height: 25vw;
  display: block;
  border-radius: 50%;
  background-color: #190d22;
}
@media only screen and (min-width: 1024px) {
  main .skill .skill-box .icon-box .icon::before {
    display: none;
  }
}
main .skill .skill-box .icon-box .icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 15vw;
}
@media only screen and (min-width: 1024px) {
  main .skill .skill-box .icon-box .icon img {
    width: 80px;
  }
}
main .skill .skill-desc {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(25, 13, 34, 0.8);
}
main .skill .skill-desc .x-btn {
  position: absolute;
  right: 2vw;
  top: 2vw;
  width: 7vw;
  height: 7vw;
}
main .skill .skill-desc .x-btn .x-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform-origin: center; /* 기본적으로 중심을 기준으로 회전 */
}
main .skill .skill-desc .x-btn .x-line:first-of-type {
  transform: translate(-50%, -50%) rotate(45deg);
}
main .skill .skill-desc .x-btn .x-line:last-of-type {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .skill .skill-desc .skill-desc-txt {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 7vw;
  width: 70vw;
  height: 60vh;
  border: 1px solid #fff;
  border-radius: 50px;
}
main .skill .skill-desc .skill-desc-txt .skill-title {
  margin-bottom: 2vh;
  font-size: 1.5rem;
  text-align: center;
}
main .skill .skill-desc .skill-desc-txt .skill-icon {
  width: 30vw;
}
main .skill .skill-desc .skill-desc-txt .skill-line {
  margin-top: 4vh;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
main .skill .skill-desc .skill-desc-txt .desc-txt {
  margin-top: 3vh;
  font-size: 0.833rem;
}
main .portfolio {
  width: 100%;
  margin-top: 50vh;
  background-color: darkkhaki;
}
@media only screen and (min-width: 1024px) {
  main .portfolio {
    position: relative;
    margin-top: 0;
    height: 100vh;
  }
}
main .portfolio .title-box {
  width: 90vw;
  background-color: lightblue;
}
@media only screen and (min-width: 1024px) {
  main .portfolio .title-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
main .portfolio .title-box .pf-sub-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  background-color: aquamarine;
}
@media only screen and (min-width: 1024px) {
  main .portfolio .title-box .pf-sub-title {
    flex-direction: row;
    justify-content: flex-start;
  }
}
main .portfolio .title-box .pf-sub-title .long-line {
  width: 30vw;
  height: 1px;
  margin: 0;
  margin-left: 3vw;
  background-color: #fff;
}
@media only screen and (min-width: 1024px) {
  main .portfolio .title-box .pf-sub-title .long-line {
    width: 330px;
    margin-left: 0;
    margin-right: 15px;
  }
}
main .portfolio .title-box .pf-sub-title p {
  margin: 0;
  margin-bottom: 0.5vh;
  font-family: "Playfair Display SC", serif;
  font-size: 8.5vw;
  text-align: left;
}
@media only screen and (min-width: 1024px) {
  main .portfolio .title-box .pf-sub-title p {
    font-size: 5.333rem;
  }
}
main .portfolio .title-box .pf-title {
  width: 66vw;
  font-size: 12vw;
  text-align: center;
  background-color: lightgoldenrodyellow;
}
@media only screen and (min-width: 1024px) {
  main .portfolio .title-box .pf-title {
    font-size: 7rem;
  }
}
main .portfolio .short-line {
  display: none;
}
main .portfolio .circle-box {
  position: relative;
  height: 30vh;
}
main .portfolio .circle-box .pf-line {
  position: relative;
  left: 16vw;
  top: -60vw;
}
main .portfolio .circle-box .pf-line svg {
  transform: scale(0.95) rotate(230deg);
}
main .portfolio .circle-box .pf-starlight {
  position: absolute;
  left: 0;
  top: 0;
  width: 5vw;
}
main .contact {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  main .contact {
    height: 100vh;
  }
}
main .contact .contact-content-box {
  width: 100%;
  padding-top: 5vh;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box {
    padding-top: 0;
  }
}
main .contact .contact-content-box .title {
  position: relative;
  z-index: 1;
  width: 170px;
  text-align: center;
  background-color: #190d22;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .title {
    width: 240px;
  }
}
main .contact .contact-content-box .contact-line-content {
  position: relative;
  top: -35px;
  width: 90vw;
  height: 90vw;
  border: 1px solid #fff;
  border-radius: 50%;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .contact-line-content {
    top: -40px;
    width: 36vw;
    height: 36vw;
  }
}
main .contact .contact-content-box .contact-line-content .contact-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 68%;
}
main .contact .contact-content-box .contact-line-content .contact-content form {
  width: 55vw;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .contact-line-content .contact-content form {
    width: 20vw;
  }
}
main .contact .contact-content-box .contact-line-content .contact-content form div {
  width: 100%;
  margin-bottom: 2vh;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .contact-line-content .contact-content form div {
    margin-bottom: 4vh;
  }
}
main .contact .contact-content-box .contact-line-content .contact-content form div label {
  font-size: 0.833rem;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .contact-line-content .contact-content form div label {
    font-size: 1.167rem;
  }
}
main .contact .contact-content-box .contact-line-content .contact-content form div input {
  width: 100%;
  height: 3vh;
  margin-top: 7px;
  padding-left: 7px;
  border-style: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .contact-line-content .contact-content form div input {
    height: 4vh;
    margin-top: 10px;
  }
}
main .contact .contact-content-box .contact-line-content .contact-content form div input::-moz-placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.667rem;
  opacity: 1;
  color: rgba(255, 255, 255, 0.5);
}
main .contact .contact-content-box .contact-line-content .contact-content form div input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.667rem;
  opacity: 1;
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .contact-line-content .contact-content form div input::-moz-placeholder {
    font-size: 0.833rem;
  }
  main .contact .contact-content-box .contact-line-content .contact-content form div input::placeholder {
    font-size: 0.833rem;
  }
}
main .contact .contact-content-box .contact-line-content .contact-content form div input:focus {
  outline: none;
  color: #fff;
}
main .contact .contact-content-box .contact-line-content .contact-content form div input:focus::-moz-placeholder {
  opacity: 0;
}
main .contact .contact-content-box .contact-line-content .contact-content form div input:focus::placeholder {
  opacity: 0;
}
main .contact .contact-content-box .contact-line-content .contact-content form div textarea {
  width: 100%;
  height: 60px;
  margin-top: 7px;
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: transparent;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .contact-line-content .contact-content form div textarea {
    height: 90px;
  }
}
main .contact .contact-content-box .contact-line-content .contact-content form div textarea::-moz-placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.667rem;
  opacity: 1;
  color: rgba(255, 255, 255, 0.5);
}
main .contact .contact-content-box .contact-line-content .contact-content form div textarea::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.667rem;
  opacity: 1;
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .contact-line-content .contact-content form div textarea::-moz-placeholder {
    font-size: 0.833rem;
  }
  main .contact .contact-content-box .contact-line-content .contact-content form div textarea::placeholder {
    font-size: 0.833rem;
  }
}
main .contact .contact-content-box .contact-line-content .contact-content form div textarea:focus {
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}
main .contact .contact-content-box .contact-line-content .contact-content form div textarea:focus::-moz-placeholder {
  opacity: 0;
}
main .contact .contact-content-box .contact-line-content .contact-content form div textarea:focus::placeholder {
  opacity: 0;
}
main .contact .contact-content-box .contact-line-content .contact-content .send-btn {
  padding: 2px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.833rem;
  background-color: #fff;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-content-box .contact-line-content .contact-content .send-btn {
    padding: 4px 40px;
    font-size: 1rem;
  }
}

footer {
  width: 100%;
  height: 12vh;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 1024px) {
  footer {
    position: relative;
    height: 140px;
  }
}
footer .logo-contact-icon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
footer .logo-contact-icon .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content {
    position: relative;
    display: block;
    height: 40px;
  }
}
footer .logo-contact-icon .footer-content .footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 51vw;
  margin: 0;
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content .footer-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
  }
}
footer .logo-contact-icon .footer-content .footer-logo img {
  width: 7vw;
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content .footer-logo img {
    width: 70px;
  }
}
footer .logo-contact-icon .footer-content .logo-txt {
  width: 40vw;
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content .logo-txt {
    display: flex;
    width: 340px;
  }
}
footer .logo-contact-icon .footer-content .logo-txt p {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.667rem;
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content .logo-txt p {
    font-size: 1rem;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content .logo-txt p.second {
    margin-left: 5px;
  }
}
footer .logo-contact-icon .footer-content .logo-txt p img {
  width: 10px;
  height: 10px;
  margin-left: 3px;
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content .logo-txt p img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }
}
footer .logo-contact-icon .footer-content .contact-icon-box {
  display: flex;
  align-items: center;
  width: 17vw;
  margin: 0;
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content .contact-icon-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
  }
}
footer .logo-contact-icon .footer-content .contact-icon-box div a img {
  width: 4vw;
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content .contact-icon-box div a img {
    width: 30px;
  }
}
footer .logo-contact-icon .footer-content .contact-icon-box div.mail-icon a img {
  width: 5vw;
}
@media only screen and (min-width: 1024px) {
  footer .logo-contact-icon .footer-content .contact-icon-box div.mail-icon a img {
    width: 35px;
  }
}/*# sourceMappingURL=index.css.map */