@import './style.scss';
@import './mixin.scss';

@mixin header-style() {
    header {
        position: relative;
        z-index: 100;
        width: $wide-width;
        height: 14vh;
        // background-color: lightblue;
    
        @include responsive(large-screens) {
            position: fixed;
            height: 150px;
        }
    
        .logo-mainmenu-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: $wide-width;
            height: 14vh;
            // background-color: lightcoral;
            
            @include responsive(large-screens) {
                max-width: 1440px;
                height: 150px;
            }
    
            .logo {
                position: relative;
                z-index: 2000;
                margin: 0;
                width: 12vw;
    
                @include responsive(large-screens) {
                    width: 80px;
                }
            }
    
            .main-menu {
                margin: 0;
                // background-color: lightsalmon;
                
                .gnb {
                    display: none;

                    &.menu-visible {
                        display: block;
                        position: absolute;
                        left: 0; top: 0;
                        width: 100vw;
                        height: 100vh;
                        background-color: $main-bg;
                    }
                    
                    @include responsive(large-screens) {
                        display: flex;
                        justify-content: space-between;
                        width: 820px;
                        // background-color: bisque;
                    }
    
                    
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin: 5vh 0;
                        font-family: $en-font;
                        font-size: 2rem;
                        // background-color: lightblue;

                        &:first-child {
                            margin-top: 20vh;

                            @include responsive(large-screens) {
                                margin-top: 0;
                            }
                        }

                        @include responsive(large-screens) {
                            position: relative;
                            z-index: 1000;
                            display: block;
                            margin: 0;
                            font: {
                                family: $en-font;
                                weight: $en-font-regular;
                                size: 1.167rem;
                            }
                        }
                    }
                }
    
                .mobile-menu-bar {
                    position: relative;
                    z-index: 2000;
                    width: 8vw;
                    cursor: pointer;
    
    
                    @include responsive(large-screens) {
                        display: none;
                    }
    
                    .bar {
                        width: $wide-width;
                        height: 1px;
                        border: 1px solid $color-main;
                        border-radius: 15px;
                        margin: 30% 0;
                        transform-origin: center;
                        transition: transform 0.5s ease;

                        &.active {
                            margin: 0;

                            &:first-child {
                                transform: translateY(4px) rotate(-45deg);
                            }
    
                            &:nth-child(2) {
                                transform: scale(0);
                            }
    
                            &:last-child {
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}



@mixin footer-style() {
    footer {
        position: relative;
        z-index: 100;
        width: $wide-width;
        height: 12vh;
        border-top: 1px solid rgba($color-main, 0.5);
    
        @include responsive(large-screens) {
            position: relative;
            height: 100px;
        }
    
        .logo-contact-icon {
            display: flex;
            align-items: center;
            width: $wide-width;
            height: $wide-height;
            
            .footer-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: $wide-width;
                // background-color: lightseagreen;
    
                @include responsive(large-screens) {
                    position: relative;
                    display: block;
                    height: 40px;
                }
    
                .footer-logo {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 51vw;
                    margin: 0;
                    // background-color: lightblue;
        
                    @include responsive(large-screens) {
                        position: absolute;
                        left: 50%; top: 50%;
                        transform: translate(-50%, -50%);
                        width: 430px;
                    }
    
                    img {
                        width: 7vw;
    
                        @include responsive(large-screens) {
                            width: 70px;
                        }
                    }
                }
        
        
                .logo-txt {
                    width: 40vw;
                    // background-color: lightcoral;
                    
                    @include responsive(large-screens) {
                        display: flex;
                        width: 340px;
                    }
    
                    p {
                        display: flex;
                        align-items: center;
                        font-weight: $ko-font-light;
                        font-size: 0.667rem;
        
                        @include responsive(large-screens) {
                            font-size: 1rem;
                            margin: 0;
                        }
    
                        &.second {
                            @include responsive(large-screens) {
                                margin-left: 5px;
                            }
                        }
                        img {
                            width: 10px;
                            height: 10px;
                            margin-left: 3px;
    
                            @include responsive(large-screens) {
                                width: 15px;
                                height: 15px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
        
        
                .contact-icon-box {
                    display: flex;
                    align-items: center;
                    width: 17vw;
                    margin: 0;
                    // background-color: lightgreen;
    
                    @include responsive(large-screens) {
                        position: absolute;
                        right: 0; top: 50%;
                        transform: translateY(-50%);
                        width: 150px;
                    }
    
                    div {
                        a {
                            img {
                                width: 4vw;
    
                                @include responsive(large-screens) {
                                    width: 30px;
                                }
                            }
                        }
    
                        &.mail-icon {
                            a {
                                img {
                                    width: 5vw;
    
                                    @include responsive(large-screens) {
                                        width: 35px;
                                    }
                                }
                            }
                        }
                    }
                }
            }  // footer-content
        }  // logo-contact-icon
    }  // footer
}