@import './style.scss';
@import './mixin.scss';
@import './reset.scss';



//******* 공통 *******
// .test {
//     position: absolute;
//     left: 500px; top: 200px;

//     img {
//         width: 100px;
//         animation: moving 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
//         @keyframes moving {
//             0% { 
//                 transform: translateY(-300px) translateX(-100px) rotate(30deg);
//                 transform-origin: 50% 200%;
//              }

//              100% {
//                 transform: translateY(0) translateX(0) rotate(0);
//                 transform-origin: 50% -500px;
//              }
//         }
//     }
// }

.test {
  position: absolute;
  left: 600px;
  top: 500px;
}

.animate-img {
  width: 100px;
  animation: moving 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes moving {
  0% {
    transform: translateY(0px) translateX(0px) rotate(30deg);
    transform-origin: 50% 200%;
  }
  100% {
    transform: translateY(300px) translateX(100px) rotate(0);
    transform-origin: 50% -500px;
  }
}
