@import './style.scss';
@import './mixin.scss';
@import './reset.scss';



//******* 공통 *******
.container {
    width: $wide-width;
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
    // background-color: lightpink;
}


//******* header *******
header {
    position: relative;
    z-index: 5;
    width: $wide-width;
    height: 14vh;
    // background-color: lightblue;

    @include responsive(large-screens) {
        position: fixed;
        height: 150px;
    }

    .logo-mainmenu-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: $wide-width;
        height: 14vh;
        // background-color: lightcoral;
        
        @include responsive(large-screens) {
            max-width: 1440px;
            height: 150px;
        }

        .logo {
            margin: 0;
            width: 12vw;

            @include responsive(large-screens) {
                width: 80px;
            }
        }

        .main-menu {
            margin: 0;
            // background-color: lightsalmon;
            
            .gnb {
                display: none;

                @include responsive(large-screens) {
                    display: flex;
                    justify-content: space-between;
                    width: 820px;
                    // background-color: bisque;
                }

                
                li {
                    @include responsive(large-screens) {
                        margin: 0;
                        font: {
                            family: $en-font;
                            weight: $en-font-regular;
                            size: 1.167rem;
                        }
                    }
                }
            }

            .mobile-menu-bar {
                width: 8vw;
                cursor: pointer;


                @include responsive(large-screens) {
                    display: none;
                }

                .bar {
                    // display: block;
                    width: $wide-width;
                    height: 1px;
                    border: 1px solid $color-main;
                    border-radius: 15px;
                    margin: 30% 0;
                }
            }
        }
    }
}


//******* main *******
main {
    width: $wide-width;
    overflow: hidden;
    // ====== 공통 ======
    .title {
        font-size: 2rem;

        @include responsive(large-screens) {
            padding-top: 170px;
            font-size: 3rem;
        }
    }

    //====== home ======
    .home {
        position: absolute;
        left: 0; top: 0;
        overflow: hidden;
        width: $wide-width;
        height: 100vh;

        .home-container {
            padding: 0;

            @include responsive(large-screens) {
                max-width: 100vw;
            }
            
            
            .sky-box {
                position: relative;
                overflow: hidden;
                width: $wide-width;
                height: 85vh;
                background: radial-gradient(circle at center bottom, $moonlight-bg, $main-bg);
                // background-color: lightblue;

                @include responsive(large-screens) {
                    height: 87vh;
                }

                .moon {
                    width: $half-width;
                    margin-top: 25vh;
                    border-radius: 50%;
                    box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.7);
        
                    @include responsive(large-screens) {
                        width: 260px;
                        margin-top: 270px;
                    }

                    img {
                        width: $wide-width;
                        transform: scale(1.05);
                    }
                }  // moon
        
                .cloud1 {
                    position: absolute;
                    z-index: 1;
                    left: -25vw; bottom: -10vh;
                    width: 60%;
                    animation: cloudMove 4s ease-in-out infinite;

                    @include responsive(large-screens) {
                        left: 0; bottom: -70px;
                        width: 315px;
                    }
                }
        
                .cloud2 {
                    position: absolute;
                    right: -15vw; bottom: 15vh;
                    width: 40%;
                    animation: cloudMove 4s ease-in-out infinite;

                    @include responsive(large-screens) {
                        right: 0; bottom: 210px;
                        width: 285px;
                    }
                }

                @keyframes cloudMove {
                    0% {
                        transform: translateY(10px);
                    }

                    50% {
                        transform: translateY(-10px);
                    }

                    100% {
                        transform: translateY(10px);
                    }
                }
            }  // sky-box
    
            .ocean {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: $wide-width;
                height: 15vh;
                background-color: $main-bg;

                @include responsive(large-screens) {
                    height: 13vh;
                }

                .shadow {
                    height: 1vh;
                    border-radius: 10px;

                    @include responsive(large-screens) {
                        height: 10px;
                    }

                    @keyframes shadow1 {
                        0% {
                            transform: translateX(5px);
                        }

                        50% {
                            transform: translateX(-5px);
                        }

                        100% {
                            transform: translateX(5px);
                        }
                    }

                    @keyframes shadow2 {
                        0% {
                            transform: translateX(-5px);
                        }

                        50% {
                            transform: translateX(5px);
                        }

                        100% {
                            transform: translateX(-5px);
                        }
                    }
                }
                .moon-shadow1 {
                    width: 20vw;
                    background-color: $moon-shadow1;
                    animation: shadow1 4s ease-in-out infinite;

                    @include responsive(large-screens) {
                        width: 150px;
                    }
                }

                .moon-shadow2 {
                    position: relative;
                    left: 5vw;
                    width: 25vw;
                    background-color: $moon-shadow2;
                    animation: shadow2 4s ease-in-out 0.3s infinite;

                    @include responsive(large-screens) {
                        left: 43px;
                        width: 200px;
                    }
                }

                .moon-shadow3 {
                    position: relative;
                    right: 5vw;
                    width: 30vw;
                    background-color: $moon-shadow3;
                    animation: shadow1 4s ease-in-out 0.6s infinite;

                    @include responsive(large-screens) {
                        right: 30px;
                        width: 250px;
                    }
                }

                .moon-shadow4 {
                    position: relative;
                    left: 5vw;
                    width: 35vw;
                    background-color: $moon-shadow4;
                    animation: shadow2 4s ease-in-out 0.9s infinite;

                    @include responsive(large-screens) {
                        left: 25px;
                        width: 300px;
                    }
                }
            }
        }  // home-container


        .stars {
            position: absolute;
            left: 0; top: 0;

            img {
                transform: scale(2.5);

                @include responsive(large-screens) {
                    transform: scale(2);
                }
            }

            div {
                @keyframes starMove {
                    0% {
                        transform: scale(0.5);
                        opacity: 0.5;
                    }

                    50% {
                        transform: scale(1);
                        opacity: 1;
                    }

                    100% {
                        transform: scale(0.5);
                        opacity: 0.5;
                    }
                }
            }

            .biggest-star {
                position: absolute;
                width: 1vw;
                border-radius: 50%;
                box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.5);
                animation: starMove 2.5s ease-in-out infinite;

                @include responsive(large-screens) {
                    width: 0.6vw;
                }

                &:first-of-type {
                    left: 3vw; top: 45vh;

                    @include responsive(large-screens) {
                        left: 95vw; top: 50vh;
                    }
                }
                
                &:nth-of-type(2) {
                    left: 60vw; top: 17vh;

                    @include responsive(large-screens) {
                        left:51vw; top: 185px;
                    }

                    animation-delay: 0.5s;
                }

            }  // biggest-star


            .big-star {
                position: absolute;
                width: 0.8vw;
                border-radius: 50%;
                box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);
                animation: starMove 2.5s ease-in-out infinite;
                
                @include responsive(large-screens) {
                    width: 0.4vw;
                }

                &:nth-of-type(3) {
                    left: 82vw; top: 50vh;
                    animation-delay: 1s;

                    @include responsive(large-screens) {
                        left:69vw; top: 270px;
                    }
                }

                &:nth-of-type(4) {
                    left: 20vw; top: 4vh;

                    @include responsive(large-screens) {
                        left: 10vw; top: 300px;
                    }
                }

                &:nth-of-type(5) {
                    display: none;
                    animation-delay: 0.5s;

                    @include responsive(large-screens) {
                        display: block;
                        left: 40vw; top: 30px;
                    }
                }

                &:nth-of-type(6) {
                    display: none;
                    animation-delay: 1s;

                    @include responsive(large-screens) {
                        display: block;
                        left: 23vw; top: 80px;
                    }
                }
            }

            .middle-star {
                position: absolute;
                width: 0.6vw;
                border-radius: 50%;
                box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
                animation: starMove 2.5s ease-in-out infinite;

                @include responsive(large-screens) {
                    width: 0.3vw;
                }

                &:nth-of-type(7) {
                    left: 30vw; top: 70vh;
                    animation-delay: 0.5s;

                    @include responsive(large-screens) {
                        left: 27vw; top: 500px;
                    }
                }

                &:nth-of-type(8) {
                    left: 70vw; top: 7vh;
                    animation-delay: 1.5s;

                    @include responsive(large-screens) {
                        left: 86vw; top: 160px;
                    }
                }

                &:nth-of-type(9) {
                    left: 5vw; top: 20vh;
                    animation-delay: 1.5s;

                    @include responsive(large-screens) {
                        left: 3vw; top: 50px;
                    }
                }

                &:nth-of-type(10) {
                    left: 90vw; top: 15vh;
                    animation-delay: 0.5s;

                    @include responsive(large-screens) {
                        left: 30vw; top: 172px;
                    }
                }

                &:nth-of-type(11) {
                    display: none;
                    animation-delay: 0.5s;

                    @include responsive(large-screens) {
                        display: block;
                        left: 63vw; top: 128px;
                    }
                }

                &:nth-of-type(12) {
                    display: none;
                    animation-delay: 0.1s;

                    @include responsive(large-screens) {
                        display: block;
                        left: 95vw; top: 52px;
                    }
                }
            }

            .small-star {
                position: absolute;
                width: 0.4vw;
                border-radius: 50%;
                box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
                animation: starMove 2.5s ease-in-out infinite;

                @include responsive(large-screens) {
                    width: 0.2vw;
                }

                &:nth-of-type(13) {
                    left: 88vw; top: 25vh;

                    @include responsive(large-screens) {
                        left: 59vw; top: 230px;
                    }
                }

                &:nth-of-type(14) {
                    left: 95vw; top: 44vh;
                    animation-delay: 1s;

                    @include responsive(large-screens) {
                        left: 61vw; top: 370px;
                    }
                }

                &:nth-of-type(15) {
                    left: 12vw; top: 27vh;
                    animation-delay: 1s;

                    @include responsive(large-screens) {
                        left: 68vw; top: 175px;
                    }
                }
                
                &:nth-of-type(16) {
                    display: none;
                    animation-delay: 1.5s;

                    @include responsive(large-screens) {
                        display: block;
                        left: 84vw; top: 400px;
                    }
                }

                &:nth-of-type(17) {
                    display: none;

                    @include responsive(large-screens) {
                        display: block;
                        left: 5vw; top: 220px;
                    }
                }

                &:nth-of-type(18) {
                    display: none;
                    animation-delay: 1s;

                    @include responsive(large-screens) {
                        display: block;
                        left: 90vw; top: 250px;
                    }
                }

                &:nth-of-type(19) {
                    display: none;
                    animation-delay: 0.5s;

                    @include responsive(large-screens) {
                        display: block;
                        left: 75vw; top: 330px;
                    }
                }

                &:nth-of-type(20) {
                    display: none;

                    @include responsive(large-screens) {
                        display: block;
                        left: 24vw; top: 350px;
                    }
                }
            }

            .smallest-star {
                position: absolute;
                width: 0.25vw;
                border-radius: 50%;
                box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
                animation: starMove 2.5s ease-in-out infinite;

                @include responsive(large-screens) {
                   width: 0.1vw;
                }

                &:nth-of-type(21) {
                    left: 80vw; top: 4vh;

                    @include responsive(large-screens) {
                        left: 82vw; top: 330px;
                    }
                }

                &:nth-of-type(22) {
                    left: 13vw; top: 40vh;
                    animation-delay: 0.5s;

                    @include responsive(large-screens) {
                        left: 38vw; top: 270px;
                    }
                }

                &:nth-of-type(23) {
                    left: 37vw; top: 11vh;
                    animation-delay: 1s;

                    @include responsive(large-screens) {
                        left: 15vw; top: 450px;
                    }
                }

                &:nth-of-type(24) {
                    left: 30vw; top: 22vh;

                    @include responsive(large-screens) {
                        left: 44vw; top: 150px;
                    }
                }

                &:nth-of-type(25) {
                    left: 75vw; top: 30vh;
                    animation-delay: 0.5s;

                    @include responsive(large-screens) {
                        left: 78vw; top: 200px;
                    }
                }

                &:nth-of-type(26) {
                    left: 47vw; top: 4vh;
                    animation-delay: 1.5s;

                    @include responsive(large-screens) {
                        left: 41vw; top: 250px;
                    }
                }

                &:nth-of-type(27) {
                    left: 10vw; top: 55vh;

                    @include responsive(large-screens) {
                        left: 30vw; top: 300px;
                    }
                }

                &:nth-of-type(28) {
                    display: none;
                    animation-delay: 0.5s;

                    @include responsive(large-screens) {
                        display: block;
                        left: 5vw; top: 420px;
                    }
                }

                &:nth-of-type(29) {
                    display: none;
                    animation-delay: 1s;

                    @include responsive(large-screens) {
                        display: block;
                        left: 35vw; top: 430px;
                    }
                }

                &:nth-of-type(30) {
                    display: none;

                    @include responsive(large-screens) {
                        display: block;
                        left: 20vw; top: 200px;
                    }
                }
            }

            .shooting-star {
                position: relative;
                width: 25vw;

                @include responsive(large-screens) {
                    width: 15vw;
                }

                div{
                    width: $wide-width;
                    height: 2px;
                    
                    .tail {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: $wide-width;
                        border: 1px solid transparent;
                        border-image: linear-gradient(-45deg, transparent 0%, #fff 100%);
                        border-image-slice: 1;
                        // background: linear-gradient( #fff 100%, #fff 0%);
                    }
    
                    img {
                        position: absolute;
                        left: 0;
                        width: 0.4vw;

                        @include responsive(large-screens) {
                            width: 0.2vw;
                        }
                    }
                }

                .shooting1 {
                    position: absolute;
                    left: 10vw; top: 15vh;
                    transform: rotate(-45deg);

                    @include responsive(large-screens) {
                        left: 20vw; top: 160px;
                    }
                }

                .shooting2 {
                    position: absolute;
                    left: 7vw; top: 57vh;
                    transform: rotate(-45deg);

                    @include responsive(large-screens) {
                        left: 32vw; top: 530px;
                    }
                }

                .shooting3 {
                    position: absolute;
                    left: 77vw; top: 35vh;
                    transform: rotate(-45deg);

                    @include responsive(large-screens) {
                        left: 67vw; top: 300px;
                    }
                }
            }
        }
    }  // home


    //====== about-me ======
    .about-me {
        margin-top: 100vh;
        // background-color: lightseagreen;

        @include responsive(large-screens) {
            height: 100vh;
        }

        .title {
            text-align: center;

            @include responsive(large-screens) {
                padding-top: 170px;
                text-align: left;
            }
        }


        .aboutme-content {
            @include responsive(large-screens) {
                display: flex;
                align-items: center;
            }

            .photo-content {
                position: relative;
                height: 75vw;
                // background-color: darkgreen;
    
                @include responsive(large-screens) {
                    width: 800px;
                    height: 640px;
    
                }
    
                .my-photo {
                    position: relative;
                    z-index: 2;
                    width: 50vw;
                    margin-top: 10vh;
                    padding-top: 5vh;
                    // background-color: bisque;
    
                    @include responsive(large-screens) {
                        display: flex;
                        align-items: left;
                        width: 340px;
                        margin-top: 50px;
                        padding-top: 0;
                    }
    
                    img {
                        width: $wide-width;
                    }
                }
    
                .big-circle {
                    position: relative;
                    left: -20vw; top: -63vw;
    
    
                    @include responsive(large-screens) {
                        position: absolute;
                        left: 5px; top: 240px;
                    }

                    .big-line {
                        transform: rotate(15deg);

                        @include responsive(large-screens) {
                            transform: scale(2.5) rotate(5deg);
                        }
                    }
                }
    
                .small-circle {
                    position: relative;
                    left: 23vw; top: -200vw;
    
                    @include responsive(large-screens) {
                        position: absolute;
                        left: 230px; top: -40px;
    
                    }
                    .small-line {
                        transform: rotate(190deg);

                        @include responsive(large-screens) {
                            transform: scale(2) rotate(180deg);
                        }
                    }
                }
            }  // photo-content
    
    
            .txt-content-box {
                margin-top: 7vh;
    
                @include responsive(large-screens) {
                    margin-top: 0;
                    margin-left: 40px;
                }
                .main-txt {
                    font-size: 1rem;
    
                    @include responsive(large-screens) {
                           font-size: 1.667rem;
                    }

                    strong {
                        display: inline-block;
                        font: {
                            weight: $ko-font-semibold;
                            size: 1.5rem;
                        }
    
                        @include responsive(large-screens) {
                           font-size: 2.5rem;
                        }
                        
                        span {
                            display: inline-block;
                            
                            &.bracket {
                                color: $small-starlight;
                            }
                        }
                    }
                }  // main-txt
    
                
                .aboutme-tab-btn {
                    margin: 3vh 0 2vh 1vh;

                    @include responsive(large-screens) {
                           margin-top: 40px;
                    }

                    button {
                        position: relative;
                        margin-right: 5vw;
                        border-style: none;
                        font: {
                            family: $ko-font;
                            size: 0.833rem;
                        }
                        color: $color-main;
                        background-color: transparent;
                        cursor: pointer;

                        @include responsive(large-screens) {
                            margin-right: 53px;
                            font-size: 1rem;                    
                        }

                        &::after {
                            position: absolute;
                            z-index: -1;
                            left: 0; top: 50%;
                            transform: translateY(-50%);
                            width: 0;
                            height: 7px;
                            content: '';
                            transition: width 0.5s ease;
                            background-color: $color-point;

                            @include responsive(large-screens) {
                                height: 10px;
                                transform:translateY(-30%);
                            }
                        }

                        &:hover::after {
                            @include responsive(large-screens) {
                                height: 10px;
                                width: $wide-width;
                                transform:translateY(-30%) scaleX(1.3);
                            }
                        }

                        &.selected::after {
                            width: $wide-width;
                            transform: scaleX(1.2);

                            @include responsive(large-screens) {
                                transform:translateY(-30%) scaleX(1.3);
                            }
                        }
                    }
                }  // aboutme-tab-btn
    
    
                .aboutme-content-txt {
                    .txt {
                        font-size: 0.833rem;
                        line-height: 1.8;

                        @include responsive(large-screens) {
                            font-size: 1.167rem;
                        }
                    }
                }
            }  // txt-content-box
        }  //aboutme-content
    }  // about-me


    //====== skill ======
    .skill {
        position: relative;
        width: $wide-width;
        margin-top: 20vh;
        background-color: darkgoldenrod;

        @include responsive(large-screens) {
            height: 100vh;
        }

        .title-box {
            @include responsive(large-screens) {
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                width: 256px;
                height: 256px;
                line-height: 256px;
                border: 1px solid $color-main;
                border-radius: 50%;
            }

            .title {
                @include responsive(large-screens) {
                    padding-top: 0;
                    text-align: center;
                }
            }
        }
        .skill-box {
            // .circle {
            //     @include responsive(large-screens) {
                    
            //     }
            // }

            .skill-tab-btn {
                overflow-x: scroll;
                white-space: nowrap;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none; /* Webkit 기반 브라우저(Chrome, Safari 등)에서 스크롤바 숨김 */
                }

                button {
                    padding: 5px 20px;
                    margin:5vw 1vw 10vw 0;
                    border: 0;
                    border-radius: 20px;
                    font: {
                        family: $ko-font;
                        size: 0.833rem;
                    }
                    color: $color-main;
                    background-color: $color-point;

                    &.selected {
                        font-weight: $ko-font-medium;
                        color: $color-point;
                        background-color: $color-main;
                    }
                }

                @include responsive(large-screens) {
                    display: none;
                }
            }


            .icon-box {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: minmax(100px, auto);
                column-gap: 5vw;
                row-gap: 7vw;
                width: $wide-width;

                @include responsive(large-screens) {
                    position: absolute;
                    left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: 600px;
                    height: 600px;
                    border: 1px solid $color-main;
                    border-radius: 50%;   
                }

                .icon {
                    position: relative;
                    width: 28vw;
                    height: 28vw;
                    // border: 3px solid $color-main;
                    border-radius: 50%;
                    
                    @include responsive(large-screens) {
                       position: absolute;
                       transform: translate(-50%, -50%);
                    }

                    &::before {
                        position: absolute;
                        left: 50%; top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        content: "";
                        width: 25vw;
                        height: 25vw;
                        display: block;
                        border-radius: 50%;
                        background-color: $main-bg;

                        @include responsive(large-screens) {
                            display: none;
                        }
                    }

                    img {
                        position: absolute;
                        left: 50%; top:  50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        width: 15vw;

                        @include responsive(large-screens) {
                            width: 80px;
                        }
                    }
                }
            }  // icon-box
        }  // skill-box


        .skill-desc {
            display: none;
            position: fixed;
            z-index: 3;
            left: 0; top: 0;
            width: $wide-width;
            height: 100vh;
            background-color: rgba(25, 13, 34, 0.8);
            
            .x-btn {
                position: absolute;
                right: 2vw; top: 2vw;
                width: 7vw;
                height: 7vw;
            
                .x-line {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: $wide-width;
                    height: 1px;
                    background-color: $color-main;
                    transform-origin: center; /* 기본적으로 중심을 기준으로 회전 */
            
                    &:first-of-type {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
            
                    &:last-of-type {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
            
            .skill-desc-txt {
                display: none;
                position: absolute;
                left: 50%; top: 50%;
                transform:  translate(-50%, -50%);
                padding: 7vw;
                width: 70vw;
                height: 60vh;
                border: 1px solid $color-main;
                border-radius: 50px;

                .skill-title {
                    margin-bottom: 2vh;
                    font-size: 1.5rem;
                    text-align: center;
                }

                .skill-icon {
                    width: 30vw;
                }

                .skill-line {
                    margin-top: 4vh;
                    width: $wide-width;
                    height: 1px;
                    background-color: $color-main;
                }

                .desc-txt {
                    margin-top: 3vh;
                    font-size: 0.833rem;
                }
            }
        }  // skill-desc
    }  // skill


    .portfolio {
        width: $wide-width;
        margin-top: 50vh;
        background-color: darkkhaki;

        @include responsive(large-screens) {
            position: relative;
            margin-top: 0;
            height: 100vh;
        }
        
        .title-box {
            width: 90vw;
            background-color: lightblue;

            @include responsive(large-screens) {
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                width: $wide-width;
            }

            .pf-sub-title {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: flex-end;
                background-color: aquamarine; 

                @include responsive(large-screens) {
                    flex-direction: row;
                    justify-content: flex-start;
                }

                .long-line {
                    width: 30vw;
                    height: 1px;
                    margin: 0;
                    margin-left: 3vw;
                    background-color: $color-main;    

                    @include responsive(large-screens) {
                        width: 330px;
                        margin-left: 0;
                        margin-right: 15px;
                    }
                }

                p {
                    margin: 0;
                    margin-bottom: 0.5vh;
                    font: {
                        family: $en-font;
                        size: 8.5vw;
                    }
                    text-align: left;

                    @include responsive(large-screens) {
                        font-size: 5.333rem;
                    }
                }
            }

            .pf-title {
                width: 66vw;
                font-size: 12vw;
                text-align: center;
                background-color: lightgoldenrodyellow;

                @include responsive(large-screens) {
                    font-size: 7rem;
                }
            }
        }  // title-box

        .short-line {
            display: none;
        }

        .circle-box {
            position: relative;
            height: 30vh;
            // background-color: darkgray;
            .pf-line {
                position: relative;
                left: 16vw; top: -60vw;
                svg {
                    transform: scale(0.95) rotate(230deg);
                }
            }
            .pf-starlight {
                position: absolute;
                left: 0; top: 0;
                width: 5vw;
            }
        }
    }  // portfolio


    .contact {
        width: $wide-width;
        // background-color: lightsalmon;

        @include responsive(large-screens) {
            height: 100vh;
        }

        .contact-content-box {
            width: $wide-width;
            padding-top: 5vh;

            
            @include responsive(large-screens) {
                padding-top: 0;
            }

            .title {
                position: relative;
                z-index: 1;
                width: 170px;
                text-align: center;
                background-color: $main-bg;

                @include responsive(large-screens) {
                    width: 240px;
                }
            }

            .contact-line-content {
                position: relative;
                top: -35px;
                width: 90vw;
                height: 90vw;
                border: 1px solid $color-main;
                border-radius: 50%;

                @include responsive(large-screens) {
                    top: -40px;
                    width: 36vw;
                    height: 36vw;
                }
                .contact-content {
                    position: absolute;
                    left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 68%;
                    // background-color: lightcoral;

                    form {
                        width: 55vw;

                        @include responsive(large-screens) {
                            width: 20vw;
                        }

                        div {
                            width: $wide-width;
                            margin-bottom: 2vh;

                            @include responsive(large-screens) {
                                margin-bottom: 4vh;
                            }

                            label {
                                font-size: 0.833rem;

                                
                                @include responsive(large-screens) {
                                    font-size: 1.167rem;
                                }
                            }

                            input {
                                width: $wide-width;
                                height: 3vh;
                                margin-top: 7px;
                                padding-left: 7px;
                                border-style: none;
                                border-bottom: 1px solid $color-main;
                                background-color: transparent;

                                @include responsive(large-screens) {
                                    height: 4vh;
                                    margin-top: 10px;
                                }

                                &::placeholder {
                                    font: {
                                        family: $ko-font;
                                        size: 0.667rem;   
                                    }
                                    opacity: 1;
                                    color: rgba($color-main, 0.5);

                                    @include responsive(large-screens) {
                                        font-size: 0.833rem;
                                    }
                                }
                                
                                &:focus {
                                    outline: none;
                                    color: $color-main;
                                }

                                &:focus::placeholder {
                                    opacity: 0;
                                }
                            }

                            textarea {
                                width: $wide-width;
                                height: 60px;
                                margin-top: 7px;
                                padding: 7px;
                                border: 1px solid $color-main;
                                border-radius: 3px;
                                background-color: transparent;

                                @include responsive(large-screens) {
                                    height: 90px;
                                }

                                &::placeholder {
                                    font: {
                                        family: $ko-font;
                                        size: 0.667rem;   
                                    }
                                    opacity: 1;
                                    color: rgba($color-main, 0.5);

                                    @include responsive(large-screens) {
                                        font-size: 0.833rem;
                                    }
                                }

                                &:focus {
                                    outline: none;
                                    font-family: $ko-font;
                                    color: $color-main;
                                }

                                &:focus::placeholder {
                                    opacity: 0;
                                }
                            }
                        }
                    }  // form

                    .send-btn {
                        padding: 2px 20px;
                        border: 1px solid $color-main;
                        border-radius: 25px;
                        font: {
                            family: $ko-font;
                            size: 0.833rem;
                        }
                        background-color: $color-main;
                        cursor: pointer;

                        @include responsive(large-screens) {
                            padding: 4px 40px;
                            font-size: 1rem;
                        }
                    }
                }  // contact-content
            }  // contact-line-content
        }  // contact-content-box
    }  // contact
}  // main


//******* footer *******
footer {
    width: $wide-width;
    height: 12vh;
    border-top: 1px solid rgba($color-main, 0.5);

    @include responsive(large-screens) {
        position: relative;
        height: 140px;
    }

    .logo-contact-icon {
        display: flex;
        align-items: center;
        width: $wide-width;
        height: $wide-height;
        
        .footer-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: $wide-width;
            // background-color: lightseagreen;

            @include responsive(large-screens) {
                position: relative;
                display: block;
                height: 40px;
            }

            .footer-logo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 51vw;
                margin: 0;
                // background-color: lightblue;
    
                @include responsive(large-screens) {
                    position: absolute;
                    left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                    width: 430px;
                }

                img {
                    width: 7vw;

                    @include responsive(large-screens) {
                        width: 70px;
                    }
                }
            }
    
    
            .logo-txt {
                width: 40vw;
                // background-color: lightcoral;
                
                @include responsive(large-screens) {
                    display: flex;
                    width: 340px;
                }

                p {
                    display: flex;
                    align-items: center;
                    font-weight: $ko-font-light;
                    font-size: 0.667rem;
    
                    @include responsive(large-screens) {
                        font-size: 1rem;
                        margin: 0;
                    }

                    &.second {
                        @include responsive(large-screens) {
                            margin-left: 5px;
                        }
                    }
                    img {
                        width: 10px;
                        height: 10px;
                        margin-left: 3px;

                        @include responsive(large-screens) {
                            width: 15px;
                            height: 15px;
                            margin-left: 5px;
                        }
                    }
                }
            }
    
    
            .contact-icon-box {
                display: flex;
                align-items: center;
                width: 17vw;
                margin: 0;
                // background-color: lightgreen;

                @include responsive(large-screens) {
                    position: absolute;
                    right: 0; top: 50%;
                    transform: translateY(-50%);
                    width: 150px;
                }

                div {
                    a {
                        img {
                            width: 4vw;

                            @include responsive(large-screens) {
                                width: 30px;
                            }
                        }
                    }

                    &.mail-icon {
                        a {
                            img {
                                width: 5vw;

                                @include responsive(large-screens) {
                                    width: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }  // footer-content
    }  // logo-contact-icon
}  // footer