@import './style.scss';
@import './mixin.scss';
@import './reset.scss';
@import './header_footer.scss';
@import './home.scss';
@import './portfolio.scss';



//******* 공통 *******
.container {
    width: $wide-width;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    // background-color: lightpink;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
}


//******* header *******
@include header-style();


//******* main *******
main {
    width: $wide-width;
    overflow: hidden;
    // ====== 공통 ======
    .title {
        font-size: 2rem;

        @include responsive(large-screens) {
            padding-top: 17vh;
            font-size: 3rem;
        }
    }

    //====== home ======
    .home {
        position: absolute;
        left: 0; top: 0;
        overflow: hidden;
        width: $wide-width;
        height: 100vh;

        @include home-style();  // sky-box & ocean & stars
    }  // home


    //====== about-me ======
    .about-me {
        margin-top: 100vh;
        // background-color: lightseagreen;

        @include responsive(large-screens) {
            height: 100vh;
        }

        .title {
            text-align: center;

            @include responsive(large-screens) {
                text-align: left;
            }
        }


        .aboutme-content {
            @include responsive(large-screens) {
                display: flex;
                // align-items: center;
            }

            .photo-content {
                position: relative;
                height: 75vw;
                // background-color: darkgreen;
    
                @include responsive(large-screens) {
                    width: 43vw;
                    height: 70vh;
    
                }
    
                .my-photo {
                    position: relative;
                    z-index: 2;
                    width: 50vw;
                    margin-top: 10vh;
                    padding-top: 5vh;
                    // background-color: bisque;
    
                    @include responsive(large-screens) {
                        display: flex;
                        align-items: left;
                        width: 340px;
                        margin-top: 50px;
                        padding-top: 0;
                    }
    
                    img {
                        width: $wide-width;
                    }
                }
    
                .big-circle {
                    position: relative;
                    left: -20vw; top: -63vw;
    
    
                    @include responsive(large-screens) {
                        position: absolute;
                        left: 2vw; top: 245px;
                    }

                    .big-line {
                        transform: rotate(15deg);

                        @include responsive(large-screens) {
                            transform: scale(2.5) rotate(5deg);
                        }
                    }
                }
    
                .small-circle {
                    position: relative;
                    left: 23vw; top: -200vw;
    
                    @include responsive(large-screens) {
                        position: absolute;
                        left: 15vw; top: -40px;
    
                    }
                    .small-line {
                        transform: rotate(190deg);

                        @include responsive(large-screens) {
                            transform: scale(2) rotate(180deg);
                        }
                    }
                }
            }  // photo-content
    
    
            .txt-content-box {
                margin-top: 7vh;
                // background-color: lightblue;

                @include responsive(large-screens) {
                    margin-top: 3vh;
                    margin-left: 40px;
                    width: 57vw;
                }
                .main-txt {
                    font-size: 1rem;

                    @include responsive(large-screens) {
                           font-size: 1.667rem;
                    }

                    .hello {
                        display: inline-block;
                    }

                    strong {
                        display: inline-block;
                        font: {
                            weight: $ko-font-semibold;
                            size: 1.5rem;
                        }
    
                        @include responsive(large-screens) {
                           font-size: 2.5rem;
                        }
                        
                        span {
                            display: inline-block;

                            &.job {
                                display: none;
                            }
                            
                            &.highlight {
                                white-space: nowrap;
                                overflow: hidden;
                                vertical-align: top;
                                visibility: hidden;
                                transition: visibility 0.1s linear 0.5s;
                                // background-color: lightblue;

                                &.highlight-visible {
                                    visibility: visible;
                                }
                                
                                .bracket {
                                    color: $small-starlight;
                                }

                                .name {
                                    display: none;
                                }
                            }
                        }

                    }
                    .verb {
                        display: inline-block;
                    }
                }  // main-txt
    
                
                .aboutme-tab-btn {
                    margin: 3vh 0 2vh 1vh;

                    @include responsive(large-screens) {
                           margin-top: 30px;
                    }

                    button {
                        position: relative;
                        margin-right: 5vw;
                        border-style: none;
                        font: {
                            family: $ko-font;
                            size: 0.833rem;
                        }
                        color: $color-main;
                        background-color: transparent;
                        cursor: pointer;

                        @include responsive(large-screens) {
                            margin-right: 53px;
                            font-size: 1rem;                    
                        }

                        &::after {
                            position: absolute;
                            z-index: -1;
                            left: 0; top: 50%;
                            transform: translateY(-50%);
                            width: 0;
                            height: 7px;
                            content: '';
                            transition: width 0.5s ease;
                            background-color: $color-point;

                            @include responsive(large-screens) {
                                height: 10px;
                                transform:translateY(-30%);
                            }
                        }

                        &:hover::after {
                            @include responsive(large-screens) {
                                height: 10px;
                                width: $wide-width;
                                transform:translateY(-30%) scaleX(1.3);
                            }
                        }

                        &.selected::after {
                            width: $wide-width;
                            transform: scaleX(1.2);

                            @include responsive(large-screens) {
                                transform:translateY(-30%) scaleX(1.3);
                            }
                        }
                    }
                }  // aboutme-tab-btn
    
                .aboutme-content-box {
                    position: relative;
                    width: $wide-width;
                    height: 42vh;

                    .aboutme-content-txt {
                        position: absolute;
                        left: 0; top: 0;
                        .txt {
                            font-size: 0.833rem;
                            line-height: 1.8;
                            // background-color: lightgreen;
    
                            @include responsive(large-screens) {
                                font-size: 1.167rem;
                            }
                        }
    
                        &.strength {
                            display: none;
                            
                            .strength-list {
                                div {
                                    margin-bottom: 2vh;

                                    @include responsive(large-screens) {
                                        margin-bottom: 30px;
                                    }
                                    
                                    .strength-keyword {
                                        margin-bottom: 5px;

                                        @include responsive(large-screens) {
                                            font-size: 1.333rem;
                                        }
                                    }

                                    &.list3 {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
    
                        &.goal {
                            display: none;

                            .gaol-title {
                                margin-bottom: 15px;

                                @include responsive(large-screens) {
                                    font-size: 1.333rem;
                                }
                            }
                        }
    
                        &.history {
                            display: none;
                        }
                    }
                }
            }  // txt-content-box
        }  //aboutme-content
    }  // about-me


    //====== skill ======
    .skill {
        position: relative;
        width: $wide-width;
        margin-top: 20vh;
        // background-color: darkgoldenrod;

        @include responsive(large-screens) {
            height: 100vh;
        }

        .title-box {
            @include responsive(large-screens) {
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                margin-top: 30px;
                width: 230px;
                height: 230px;
                line-height: 230px;
                border: 1px solid $color-main;
                border-radius: 50%;
            }

            .title {
                @include responsive(large-screens) {
                    padding-top: 0;
                    text-align: center;
                }
            }
        }
        .skill-box {
            .skill-tab-btn {
                overflow-x: scroll;
                white-space: nowrap;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none; /* Webkit 기반 브라우저(Chrome, Safari 등)에서 스크롤바 숨김 */
                }

                button {
                    padding: 5px 20px;
                    margin:5vw 1vw 10vw 0;
                    border: 0;
                    border-radius: 20px;
                    font: {
                        family: $ko-font;
                        size: 0.833rem;
                    }
                    color: $color-main;
                    background-color: $color-point;
                    cursor: pointer;

                    &.selected {
                        font-weight: $ko-font-medium;
                        color: $color-point;
                        background-color: $color-main;
                    }
                }

                @include responsive(large-screens) {
                    display: none;
                }
            }


            .icon-box {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: minmax(100px, auto);
                column-gap: 4vw;
                row-gap: 7vw;
                width: $wide-width;
                // background-color: lightcoral;

                @include responsive(large-screens) {
                    position: absolute;
                    left: 50%; top: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    display: block;
                    width: 570px;
                    height: 570px;
                    margin-top: 30px;
                    border: 1px solid $color-main;
                    border-radius: 50%;
                    // animation: circleRotate 30s linear infinite;
                    
                    // @keyframes circleRotate {
                    //     0% { transform: translate(-50%, -50%) rotate(0); }
                    //     100% { transform: translate(-50%, -50%) rotate(360deg); }
                    // }
                }

                .icon {
                    position: relative;
                    width: 28vw;
                    height: 28vw;
                    // border: 3px solid $color-main;
                    border-radius: 50%;
                    cursor: pointer;

                    @include responsive(large-screens) {
                       position: absolute;
                       transform: translate(-50%, -50%) rotate(90deg);
                       width: 120px;
                       height: 120px;
                    //    background-color: lightblue;
                    }

                    &::before {
                        position: absolute;
                        left: 50%; top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        content: "";
                        width: 25vw;
                        height: 25vw;
                        display: block;
                        border-radius: 50%;
                        background-color: $main-bg;

                        @include responsive(large-screens) {
                            display: none;
                        }
                    }

                    img {
                        position: absolute;
                        left: 50%; top:  50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        width: 15vw;
                        
                        @include responsive(large-screens) {
                            width: 80px;
                        }
                    }

                    .back-inner {
                        display: none;
                    }
                }
            }  // icon-box
        }  // skill-box


        .skill-desc {
            display: none;
            position: fixed;
            z-index: 3;
            left: 0; top: 0;
            width: $wide-width;
            height: 100vh;
            background-color: rgba(25, 13, 34, 0.8);

            @include responsive(large-screens) {
                display: block;
                background-color: transparent;
                position: static;
            }

            .x-btn {
                position: absolute;
                right: 2vw; top: 2vw;
                width: 7vw;
                height: 7vw;
                cursor: pointer;

                @include responsive(large-screens) {
                    display: none;
                }

                .x-line {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: $wide-width;
                    height: 1px;
                    background-color: $color-main;
                    transform-origin: center; /* 기본적으로 중심을 기준으로 회전 */
            
                    &:first-of-type {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
            
                    &:last-of-type {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
            
            .skill-desc-txt {
                display: none;
                position: absolute;
                left: 50%; top: 50%;
                transform:  translate(-50%, -50%);
                padding: 7vw;
                width: 70vw;
                height: 60vh;
                border: 1px solid $color-main;
                border-radius: 50px;

                @include responsive(large-screens) {
                    display: block;
                    position: absolute;
                    margin-top: 30px;
                    width: 230px;
                    height: 230px;
                    perspective: 500px;
                    padding: 0;
                    border: none;
                    border-radius: 50%;
                    text-align: center;
                }
               
                .desc-txt-ani {
                    @include responsive(large-screens) {
                        position: relative;
                        width: $wide-width;
                        height: $wide-height;
                        border-radius: 50%;
                        visibility: hidden;
                        opacity: 0;
                        transition: transform 0.3s ease;
                        transform-style: preserve-3d;
                    }

                    &.visible {
                        visibility: visible;
                        opacity: 1;
                    }

                    &.moving {
                        transform: rotateY(180deg);
                        transition: transform 0.5s ease 0.7s;
                    }
                    
                    .desc-front {
                        @include responsive(large-screens) {
                            position: absolute;
                            left: 0; top: 0;
                            z-index: 1;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: $wide-width;
                            height: $wide-height;
                            border: 1px solid $color-main;
                            border-radius: 50%;
                            background-color: $color-mainbg;
                            backface-visibility: hidden;
                        }

                        .skill-title {
                            margin-bottom: 2vh;
                            font-size: 1.5rem;
                            text-align: center;
        
                            @include responsive(large-screens) {
                                margin-top: -20px;
                                margin-bottom: 10px;
                            }
                        }
        
                        .skill-icon {
                            width: 30vw;
        
                            @include responsive(large-screens) {
                                width: 80px;
                            }
                        }
        
                        .skill-line {
                            margin-top: 4vh;
                            width: $wide-width;
                            height: 1px;
                            background-color: $color-main;
                            
                            &.skill-graph {
                                @include responsive(large-screens) {
                                    position: relative;
                                    margin-top: 15px;
                                    width: 150px;
                                    height: 10px;
                                    border-radius: 10px;
                                    background-color: $color-main;
                                }
                                
                                .graph-bar {
                                    @include responsive(large-screens) {
                                        position: absolute;
                                        left: 0; top: 0;
                                        width: 0;
                                        height: 10px;
                                        border-radius: 10px;
                                        transition: width 0.5s;
                                        background-color: $color-graph;
                                    }
                                }
                            }
                        }
                    }
    
                    .desc-back {
                        @include responsive(large-screens) {
                            position: absolute;
                            left: 50%; top: 50%;
                            transform:  translate(-50%, -50%) rotateY(180deg);
                            z-index: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            width: 100%;
                            height: 100%;
                            border: 1px solid $color-main;
                            border-radius: 50%;
                            background-color: $main-bg;
                        }

                        .percent {
                            display: none;

                            @include responsive(large-screens) {
                                display: block;
                                font-size: 1.5rem;
                            }
                        }

                        .desc-txt {
                            margin-top: 3vh;
                            width: 90%;
                            font-size: 0.833rem;

                            @include responsive(large-screens) {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }  // skill-desc
    }  // skill


    //====== portfolio ======
    .portfolio {
        width: $wide-width;
        margin-top: 50vh;

        @include responsive(large-screens) {
            margin-top: 0;
            height: 400vh;
        }
        
        @include portfolio-title();

        // +++++++ portfolio-detail +++++++
        .portfolio-detail {
            display: flex;
            flex-direction: column;
            
            @include portfolio-detail-common();
            

            .portfolio_1 {
                margin-bottom: 5vh;
                // background-color: aquamarine;
                
                @include responsive(large-screens) {
                    margin-bottom: 0;
                }
                
                .hollys-content-box {
                    @include responsive(large-screens) {
                        width: $wide-width;
                        height: 653px;
                    }

                    .hollys-img {
                        border-radius: 5vw;

                        @include responsive(large-screens) {
                            width: 580px;
                            height: 653px;
                            border-radius: 0 165px 0 165px;
                            // box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
                        }

                        img {
                            &.img-animation {
                                animation: moving 8s ease infinite;
                                @keyframes moving {
                                    0% { transform:translateY(0) }
                                    40% { transform:translateY(-50%) }
                                    50% { transform:translateY(-50%) }
                                    90% { transform:translateY(0) }
                                    100% { transform:translateY(0) }
                                }
                            }
                        }
                    }

                    .hollys-txt {
                        @include responsive(large-screens) {
                            // width: 40vw;
                            width: 700px;
                            height: 375px;
                            margin: 0;
                            padding: 0;
                            // margin-left: 5vw;
                        }

                        // .desc-txt {
                        //     height: 150px;
                        // }
                    }
                }
            }  // portfolio_1


            .portfolio_2 {
                margin-bottom: 5vh;
                
                @include responsive(large-screens) {
                    margin-bottom: 0;
                }

                .station-content-box {
                    @include responsive(large-screens) {
                        flex-direction: row-reverse;
                        height: 603px;
                    }

                    .station-img {
                        border-radius: 5vw;

                        @include responsive(large-screens) {
                            width: 800px;
                            height: 603px;
                            border-radius: 200px 0 200px 0;
                            // box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
                        }

                        img {
                            &.img-animation {
                                animation: moving2 15s ease infinite;

                                @include responsive(large-screens) {
                                    @keyframes moving2 {
                                        0% { transform:translateY(0) }
                                        40% { transform:translateY(-89%) }
                                        50% { transform:translateY(-89%) }
                                        90% { transform:translateY(0) }
                                        100% { transform:translateY(0) }
                                    }
                                }

                                @keyframes moving2 {
                                    0% { transform:translateY(0) }
                                    40% { transform:translateY(-85%) }
                                    50% { transform:translateY(-85%) }
                                    90% { transform:translateY(0) }
                                    100% { transform:translateY(0) }
                                }
                            }
                        }
                    }

                    .station-txt {
                        @include responsive(large-screens) {
                            width: 566px;
                            height: 400px;
                            margin: 0;
                            text-align: left;
                            transform: translateX(-30vw);
                            transition:  transform 0.3s;
                        }
                    }
                }  //  station-content-box
            }  // portfolio_2


            .portfolio_3 {
                .personal-content-box {
                    @include responsive(large-screens) {
                        height: 700px;
                    }

                    .personal-img {
                        border-radius: 5vw;
                        
                        @include responsive(large-screens) {
                            width: 580px;
                            height: 700px;
                            border-radius: 300px;
                            border: 1px solid $color-main;
                            // box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
                        }

                        img {
                            &.img-animation {
                                animation: moving3 15s ease infinite;
                                
                                @keyframes moving3 {
                                    0% { transform:translateY(0) }
                                    40% { transform:translateY(-89%) }
                                    50% { transform:translateY(-89%) }
                                    90% { transform:translateY(0) }
                                    100% { transform:translateY(0) }
                                }
                            }
                        }
                    }

                    .personal-txt {
                        @include responsive(large-screens) {
                            width: 690px;
                            height: 350px;
                            padding: 0;
                        }
                    }
                }
            }  // portfolio_3
        }  // portfolio-detail
    }  // portfolio


    .contact {
        width: $wide-width;
        // background-color: lightsalmon;
        margin-top: 10vh;
        @include responsive(large-screens) {
            height: 100vh;
            margin-top: 0;
        }

        .contact-content-box {
            width: $wide-width;
            padding-top: 5vh;

            
            @include responsive(large-screens) {
                padding-top: 0;
            }

            .title {
                position: relative;
                z-index: 1;
                width: 170px;
                text-align: center;
                background-color: $main-bg;

                @include responsive(large-screens) {
                    width: 240px;
                }
            }

            .contact-line-content {
                position: relative;
                top: -4vh;
                width: 90vw;
                height: 90vw;
                border: 1px solid $color-main;
                border-radius: 50%;

                @include responsive(large-screens) {
                    top: -40px;
                    width: 36vw;
                    height: 36vw;
                }
                .contact-content {
                    position: absolute;
                    left: 50%; top: 55%;
                    transform: translate(-50%, -50%);
                    height: 80%;
                    // background-color: lightcoral;

                    form {
                        width: 55vw;
                        height: $wide-height;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        // background-color: lightblue;

                        @include responsive(large-screens) {
                            width: 20vw;
                        }

                        div {
                            width: $wide-width;
                            height: 22%;
                            // margin-bottom: 1vh;

                            @include responsive(large-screens) {
                                margin-bottom: 4vh;
                            }

                            label {
                                font-size: 0.833rem;
                                // background-color: lightgrey;
                                
                                @include responsive(large-screens) {
                                    font-size: 1.167rem;
                                }
                            }

                            input {
                                width: $wide-width;
                                height: 2.5vh;
                                margin-top: 7px;
                                padding-left: 7px;
                                border-style: none;
                                border-bottom: 1px solid $color-main;
                                background-color: transparent;
                                // background-color: lightseagreen;

                                @include responsive(large-screens) {
                                    height: 4vh;
                                    margin-top: 10px;
                                }

                                &::placeholder {
                                    font: {
                                        family: $ko-font;
                                        size: 0.667rem;   
                                    }
                                    opacity: 1;
                                    color: rgba($color-main, 0.5);

                                    @include responsive(large-screens) {
                                        font-size: 0.833rem;
                                    }
                                }
                                
                                &[type=text] {
                                    color: $color-main;
                                    outline: none;
                                }

                                &:focus::placeholder {
                                    opacity: 0;
                                }
                                
                            }

                            // &.name-box {
                            //     background-color: lightcoral;
                            // }

                            &.message-box {
                                // background-color: lightgreen;
                                height: 40%;
                                
                                textarea {
                                    width: $wide-width;
                                    // height: 80%;
                                    margin-top: 7px;
                                    padding: 7px;
                                    border: 1px solid $color-main;
                                    border-radius: 3px;
                                    color: $color-main;
                                    font-family: $ko-font;
                                    background-color: transparent;
    
                                    @include responsive(large-screens) {
                                        height: 150px;
                                    }
    
                                    &::placeholder {
                                        font: {
                                            family: $ko-font;
                                            size: 0.667rem;   
                                        }
                                        opacity: 1;
                                        color: rgba($color-main, 0.5);
    
                                        @include responsive(large-screens) {
                                            font-size: 0.833rem;
                                        }
                                    }
    
                                    &:focus {
                                        outline: none;
                                    }
    
                                    &:focus::placeholder {
                                        opacity: 0;
                                    }
                                }
                            }

                            
                        }

                        #send {
                            position: relative;
                            z-index: 1;
                            width: 70px;
                            height: 30px;
                            border-radius: 25px;
                            font: {
                                family: $ko-font;
                                size: 0.833rem;
                            }
                            text-align: center;
                            border: 1px solid $color-black;
                            background-color: $color-main;
                            cursor: pointer;
    
                            @include responsive(large-screens) {
                                width: 30%;
                                height: 35px;
                                padding: 4px 0;
                                font-size: 1rem;
                            }
                        }
                    }  // form
                }  // contact-content
            }  // contact-line-content
        }  // contact-content-box
    }  // contact
}  // main


//******* footer *******
@include footer-style();