@import './style.scss';
@import './mixin.scss';

@mixin portfolio-title() {
    .portfolio-title {
        position: relative;
        height: 100vh;
        margin-bottom: 10vh;
        // background-color: darkkhaki;

        @include responsive(large-screens) {
            height: 1000px;
            // height: auto;
            // padding: 10vh 0;
        }
        
        .title-box {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
            width: 90vw;
            // background-color: lightblue;

            @include responsive(large-screens) {
                width: $wide-width;
            }

            .pf-sub-title {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .long-line {
                    width: 15vw;
                    height: 1px;
                    margin: 0;
                    margin-right: 3vw;
                    background-color: $color-main;    
                    // animation: longline 0.3s ease forwards;

                    &.longline-active {
                        animation: longline 0.3s ease forwards;
                    }

                    @keyframes longline {
                        0% { width: 0; }
                        100% { width: 15vw; }
                    }

                    @include responsive(large-screens) {
                        width: 23%;
                        margin-right: 15px;

                        @keyframes longline {
                            0% { width: 0; }
                            100% { width: 23%; }
                        }
                    }
                }

                p {
                    margin: 0;
                    margin-bottom: 0.5vh;
                    opacity: 0;
                    font: {
                        family: $en-font;
                        size: 8.5vw;
                    }
                    text-align: left;

                    &.p-active {
                        animation: pActive 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
                    }

                    @keyframes pActive {
                        0% { 
                            letter-spacing: -0.5em;
                            filter: blur(12px);
                            opacity: 0;
                        }
                        100% { 
                            filter: blur(0);
                            opacity: 1;
                        }
                    }
                    @include responsive(large-screens) {
                        font-size: 5.333rem;
                    }
                }
            }
            
            .pf-main-title {
                width: 66vw;
                display: flex;
                align-items: center;
                // background-color: darkorchid;

                @include responsive(large-screens) {
                    position: relative;
                    left: 150px;
                    width: 950px;
                }

                .pf-title {
                    width: 66vw;
                    font-size: 12vw;
                    text-align: center;
                    margin: 0;
                    opacity: 0;
                    // background-color: darkorange;
     
                    &.pftitle-active {
                        animation: pfTitle 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
                    }

                    @keyframes pfTitle {
                        0% {
                            letter-spacing: -0.5em;
                            filter: blur(12px);
                            opacity: 0;
                        }
                        100% {
                            filter: blur(0);
                            opacity: 1;
                        }
                    }

                    @include responsive(large-screens) {
                        font-size: 7rem;
                        width: 645px;
                    }
                }

                .short-line {
                    display: none;
    
                    @include responsive(large-screens) {
                        display: block;
                        margin: 0;
                        width: 0;
                        height: 1px;
                        background-color: $color-main;           
                    }

                    &.shortline-active {
                        @include responsive(large-screens) {
                            animation: shortline 0.3s ease 1.3s forwards;

                            @keyframes shortline {
                                0% { width: 0; }
                                100% { width: 10vw; }
                            }
                        }
                    }
                }
            }
        }  // title-box


        .circle-box {
            position: relative;
            width: $wide-width;
            height: $wide-height;
            // background-color: darkgray;

            .pf-line {
                position: absolute;
                right: 0; top: 50%;
                transform: translateY(-50%);
                // background-color: darkcyan;
                
                @include responsive(large-screens) {
                    right: 0; top: 50%;
                    transform: translateY(-50%);
                    width: 650px;
                }

                #pf-canvas {
                    width: 40vw;
                    height: 40vw;
                    transform: rotate(140deg);

                    @include responsive(large-screens) {
                        width: 650px;
                        height: 650px;
                        transform: rotate(150deg);
                    }
                }
            }
        }
    }  // portfolio-title
}


@mixin portfolio-detail-common() {
    .detail {
        width: $wide-width;
        height: 100vh;

        @include responsive(large-screens) {
            padding: 170px 0;
            height: auto;
        }

        // 공통 style
        .design-guide {
            display: none;
            width: $wide-width;
            height: $wide-height;

            &.dg-show {
                display: block;
                position: fixed;
                z-index: 100000;
                left: 0; top: 0;
                overflow-y: scroll;
                width: $wide-width;
                background-color: rgba(25, 13, 34, 0.8);
            }

            .cancel-btn {
                position: fixed;
                right: 5vw; top: 5vw;
                width: 7vw;
                height: 7vw;
                cursor: pointer;

                @include responsive(large-screens) {
                    right: 23%; top: 20px;
                    transform: translateY(-23%);
                    width: 30px;
                    height: 30px;
                }

                .x-line {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: $wide-width;
                    height: 1px;
                    background-color: $color-main;
                    transform-origin: center;

                    &:first-of-type {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
            
                    &:last-of-type {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }

            img {
                width: 70%;

                @include responsive(large-screens) {
                    width: 50%;
                }
            }
        }

        .pf-content-box {
            width: $wide-width;

            @include responsive(large-screens) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .website-image {
                position: relative;
                width: $wide-width;
                height: 100vw;
                overflow: hidden;
                margin: 0;
                // background-color: antiquewhite;

                img {
                    position: absolute;
                    left: 0; top: 0;
                    width: $wide-width;
                    
                    @include responsive(large-screens) {
                        width: $wide-width;
                    }
                }
            }

            .pf-txt {
                width: 87vw;
                height: 50vw;
                padding: 10px 0;
                opacity: 0;
                transform: translateX(-30vw);
                transition: opacity 0.1s, transform 0.3s;
                // background-color: lightgreen;
                
                @include responsive(large-screens) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: $wide-width;
                    height: 150px;
                    transform: translateX(30vw);
                    margin: 0;
                }
                
                &.pf-active {
                    opacity: 1;
                    transform: translateX(0);
                }
                
                .ko-content-title {
                    position: relative;
                    width: $wide-width;
                    font-size: 1.333rem;
                    // color: $color-graph;
                    // background-color: lightblue;
                    
                    @include responsive(large-screens) {
                        text-align: left;
                        font-size: 2rem;
                    }
                }

                .type {
                    width: $wide-width;
                    font: {
                        weight: $ko-font-light;
                        size: 0.675rem;
                    }

                    @include responsive(large-screens) {
                        margin-top: 5px;
                        text-align: left;
                        font-size: 0.833rem;
                    }
                }

                .duration {
                    display: flex;
                    justify-content: space-between;
                    gap: 0;
                    margin: 0;
                    margin-top: 5px;
                    width: 210px;
                    height: 20px;

                    @include responsive(large-screens) {
                        width: 250px;
                        height: 30px;
                        margin: 10px 0 0;
                    }

                    .duration-txt {
                        width: 25%;
                        margin: 0;
                        font: {
                            weight: $ko-font-semibold;
                            size: 0.833rem;
                        }

                        @include responsive(large-screens) {
                            width: 70px;
                            font-size: 1rem;
                        }
                    }

                    .time {
                        font-size: 0.833rem;
                        margin: 0;

                        @include responsive(large-screens) {
                            font-size: 1rem;
                            text-align: left;
                        }
                    }
                }

                .using-skills {
                    height: 17px;
                    margin-top: 3px;
                    // background-color: lightsalmon;

                    @include responsive(large-screens) {
                        height: 30px;
                        margin: 5px 0 15px;
                    }

                   ul {
                    display: flex;
                    align-items: center;
                    justify-content: left;

                    @include responsive(large-screens) {
                        height: $wide-height;
                    }        

                        li {
                            margin: 0 10px;
                            font-size: 0.776rem;

                            @include responsive(large-screens) {
                                height: $wide-height;
                                line-height: 30px;
                                padding: 0 20px;
                                border-radius: 20px;
                                font-weight: $ko-font-semibold;
                                font-size: 1rem;
                                color: $color-mainbg;
                                background-color: rgba($color-main, 0.7);
                            }   
                            
                            &:hover {
                                @include responsive(large-screens) {
                                    cursor: default;
                                    background-color: rgba($color-main, 1);
                                }
                            }

                            &:first-child {
                                margin-left: 0;
                            }

                            .sharp {
                                display: inline-block;

                                @include responsive(large-screens) {
                                    display: none;
                                }        
                            }
                        }
                   }
                }

                .desc-txt {
                    display: none;
                    // background-color: bisque;

                    @include responsive(large-screens) {
                        display: block;
                        width: $wide-width;
                    }        
                }

                .pf-btn {
                    width: $wide-width;
                    margin-top: 20px;
                    white-space: nowrap;
                    overflow-x: scroll;
                    // background-color: aquamarine;
                    opacity: 0;
                    transform: translateY(3vw);
                    transition: transform 0.3s ease 0.2s, opacity 0.3s linear 0.2s;

                    &.pfBtn-active {
                        opacity: 1;
                        transform: translateY(0);
                    }

                    &::-webkit-scrollbar {
                        display: none; 
                    }

                    @include responsive(large-screens) {
                        margin: 0;
                        margin-top: 50px;
                        height: 40px;
                        overflow-x: visible;
                    }

                    button {
                        position: relative;
                        overflow: hidden;
                        padding: 5px 10px;
                        border: 2px solid $color-point;
                        border-radius: 10px;
                        font: {
                            family: $ko-font;
                            size: 0.833rem;
                        }
                        color: $color-point;
                        background-color: $color-main;
                        cursor: pointer;
                        
                        @include responsive(large-screens) {
                            width: 120px;
                            padding: 10px 0;
                            margin-right: 10px;
                            // font-weight: $ko-font-semibold;
                            background-color: transparent;
                        }

                        span {
                            @include responsive(large-screens) {
                                --n: 0;
                                display: inline-block;
                                position: absolute;
                                width: 25%;
                                height: 100%;
                                background-color: $color-point;
                                transform: translateY(150%);
                                border-radius: 50%;
                                left: calc((var(--n) - 1) * 25%);
                                transition: 0.5s;
                                transition-delay: calc((var(--n) - 1) * 0.1s);
                                z-index: -1;
                            }

                            &:first-child {
                                @include responsive(large-screens) {
                                    --n: 1;
                                }
                            }

                            &:nth-child(2) {
                                @include responsive(large-screens) {
                                    --n: 2;
                                }
                            }

                            &:nth-child(3) {
                                @include responsive(large-screens) {
                                    --n: 3;
                                }
                            }

                            &:nth-child(4) {
                                @include responsive(large-screens) {
                                    --n: 4;
                                }
                            }
                        }
                        
                        &:hover {
                            @include responsive(large-screens) {
                                color: $color-main;
                            }

                            span {
                                @include responsive(large-screens) {
                                    transform: translateY(0) scale(2.5);
                                }
                            }
                        }
                    }
                }
            }  // pf-txt
        }  // pf-content-box
    }
}